[Desktop Entry]
Type=Application
Name=Warcraft III: Reforged
Comment=Launches via Battle.net --exec="launch W3" (Steam, GE-Proton11-WC3-CertFix)
Exec=steam steam://rungameid/10185449268152631296
Icon=warcraft3-reforged
Terminal=false
Categories=Game;
StartupNotify=false
